html {
  font-family: "Oswald", "HelveticaNeue-CondensedBold", "Arial Narrow", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
body {
  color: #333;
  padding: 0;
  margin: 0;
}
body .wrapper {
  max-width: 960px;
  margin: 0 auto;
}
iframe {
  width: 50%;
  min-width: 100px;
  height: 100px;
  margin-bottom: 20px;
  background: rgba(0,0,0,0.5);
  display: none;
}
.log-wrapper {
  display: none;
}
.top-bar {
  width: 100%;
  height: 52px;
  line-height: 52px;
  text-align: center;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
  background: #2874f0;
  color: #fff;
}
.wrapper {
  padding: 20px;
}
.wrapper .top {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}
.wrapper .top .env div {
  font-weight: bold;
  line-height: 24px;
}
.wrapper .top .env div span {
  display: block;
  font-size: 12px;
}
.wrapper .top .score-wrapper .title {
  line-height: 24px;
  font-weight: bold;
  margin: 0 auto 5px;
}
.wrapper .top .score-wrapper .title span {
  font-size: 16px;
}
.wrapper .top .score-wrapper .total-score {
  height: 50px;
  background: #39b54a;
  color: #fff;
  text-align: center;
  line-height: 50px;
  font-size: 36px;
  font-weight: bold;
  border-radius: 5px;
  margin: 0 auto 10px;
}
.wrapper .top .score-wrapper .send-data,
.wrapper .top .score-wrapper .test-again {
  height: 36px;
  line-height: 36px;
  background: #39b54a;
  color: #fff;
  font-size: 16px;
  border-radius: 3px;
  cursor: pointer;
  margin: 0 auto 10px;
}
.wrapper .top .hide {
  display: none;
}
.wrapper .schedule {
  margin-bottom: 10px;
  border-bottom: solid 1px #999;
}
.wrapper .schedule .all-case .case-part {
  font-size: 12px;
  display: inline-block;
  background: #fa743e;
  color: #fff;
  border-radius: 3px;
  text-align: center;
}
.wrapper .schedule .all-case .case-part .case-name {
  color: #fff;
}
.wrapper .schedule .all-case .case-part .case-schedule {
  height: 20px;
  line-height: 20px;
  width: 100%;
}
.wrapper .schedule .all-case .case-part.finished {
  background: #39b54a;
}
.wrapper .schedule .all-case .case-part.finished .case-schedule {
  height: 20px;
  line-height: 20px;
  width: 100%;
  text-align: center;
  background: #39b54a;
}
.wrapper .features {
  width: 100%;
}
.wrapper .features table {
  width: 100%;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  word-break: break-all;
  border: 2px solid #999;
}
.wrapper .features table thead th {
  padding: 10px;
  border: solid 2px #999;
}
.wrapper .features table tbody {
  width: 90%;
}
.wrapper .features table tbody td {
  padding: 5px;
  border: 2px solid #999;
}
.wrapper .features table tbody .name {
  overflow: hidden;
}
.wrapper .features table tbody .score {
  text-align: center;
}
.send-data-tip {
  z-index: 10000;
  width: 200px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 5px;
  background: #000;
  color: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -100px;
}
.show-tip {
  opacity: 0.7;
}
.hide-tip {
  opacity: 0;
}
.trans-fadeout {
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
@media screen and (min-width: 500px) {
  .schedule .all-case {
    text-align: center;
  }
  .schedule .all-case .case-part {
    width: 90px;
    margin: 5px 5px 5px 0;
    padding: 5px;
  }
  .top .env {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: center;
  }
  .top .score-wrapper {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: center;
  }
  .top .score-wrapper .title,
  .top .score-wrapper .total-score,
  .top .score-wrapper .send-data,
  .top .score-wrapper .test-again {
    width: 30%;
  }
}
@media screen and (max-width: 500px) {
  .schedule .all-case {
    text-align: left;
  }
  .schedule .all-case .case-part {
    width: 30%;
    margin: 0 1% 2% 0;
    padding: 5px 3px;
  }
  .top .env {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: center;
  }
  .top .score-wrapper {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    text-align: center;
    width: 84px;
  }
  .top .score-wrapper .title {
    width: 100%;
  }
  .top .score-wrapper .total-score {
    width: 100%;
  }
  .top .score-wrapper .send-data,
  .top .score-wrapper .test-again {
    width: 100%;
  }
}
